body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 0px;
 
}
.list-group-item {

/*	background-color: #337ab7;
*/	
}

a.list-group-item, button.list-group-item {
    /*color: #FFF;*/
}

.row {
	background-color: 
}