{% extends 'base.html' %}
{% block content %}

<body>
<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      
      <div class="jumbotron">
        <h1>Article Share</h1>
        <p>Share your perspective or others through "tweet" like linked posts. Start your profile today.</p>
         <a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}" role="button">Create Your Profile &raquo;</a>
      </div>
      

      <div class="row">
      {% for share in shares %}
        <div class="col-xs-6 col-md-6 col-lg-6">

          {% for category in share.category.all %}
              {{ category|upper }}
          {% endfor %} | {{ share.tag|lower }}
          <p>From<i> <a style="color:black;" href='/public/{{ share.user }}'>{{ share.user }} </a> | </i>{{ share }}<br>{{ share.url|urlizetrunc:30 }}</p>

          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!--/.col-xs-6.col-lg-4-->
      {% endfor %}
      </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->


    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <h3>Categories</h3>
      {% for category in categories %}
        <a href="{% url 'view_category' category %}" class="list-group-item active">{{ category }}</a>
        
      {% endfor %}
      </div>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Article Share 2015</p>
  </footer>

</div>


</body>

{% endblock %}



