{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 col-sm-offset-1">
		<h1>Welcome {{ user }}!</h1>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-5 col-sm-offset-1">
		
		<h3>Share A New Article</h3>
		<form method='POST' action=''>{% csrf_token %}

			{% crispy form %}

			<input class='btn btn-primary' type='submit' value='Share'/>
		</form>
	</div>
	<div class="col-sm-6 col-md-5 col-lg-5 col-sm-offset-1">
		<h3>Your Shares</h3>
		{% for share in shares %}
		  {% for category in share.category.all %}
		      {{ category|upper }}
		  {% endfor %}
		  <p>{{ share.tag|lower }} | {{ share }}<br>{{ share.url|urlizetrunc:40 }}</p>
		  <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
		<!--/.col-xs-6.col-lg-4-->
		{% endfor %}

	</div>

</div>
{% endblock %}


