{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1>Welcome {{ user }}!</h1>
	</div>
	<div class="col-sm-6 col-sm-offset-3">
		
		<h3>Share A New Article</h3>
		<form method='POST' action='/add_tweet'>{% csrf_token %}

			{{ form|crispy }}
		<!-- 	<a href='/add_tag'>Add a New Tag</a> -->
			<input class='btn btn-primary' type='submit' value='Share'/>
		</form>
		
		
		<form method='POST' action='/add_tag'>{% csrf_token %}
			<h4>Add a New Tagqq</h4>
			{{ tagform|crispy }}
			
			<input class='btn btn-primary' type='submit' value='Add'/>
		</form>
		
		<h3>Your Tweets</h3>
		{% for tweet in tweets %}
		  {% for tag in tweet.tag.all %}
		      {{ tag|upper }}
		  {% endfor %}
		  <p>{{ tweet }}</p>
		  <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
		<!--/.col-xs-6.col-lg-4-->
		{% endfor %}
	</div>

</div>
{% endblock %}


