{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1>{{ user }}</h1>
	</div>
	<div class="col-sm-6 col-sm-offset-3">
		<h3>Shares</h3>
		{% for share in shares %}
		  {% for category in share.category.all %}
		      {{ category|upper }}
		  {% endfor %}| {{ share.tag|lower }}
		  <p>{{ share }}<br>{{ share.url|urlizetrunc:30 }}</p>
		  <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
		<!--/.col-xs-6.col-lg-4-->
		{% endfor %}
	</div>

</div>
{% endblock %}