{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
	<div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-2">
		<h1>{{ user }}</h1>
	</div>
	<div class="col-sm-6 col-sm-offset-3">
		<h3>Shares</h3>
		{% for share in shares %}
		  
          {% for category in share.category.all %}
              <a style="color:black;" href="{% url 'view_category' category %}">{{ category|upper }}</a>
          {% endfor %} | <a style="color:black;" href="{% url 'view_tag' share.tag %}">{{ share.tag|lower }}</a>
          <p></i>{{ share }}<br>{{ share.url|urlizetrunc:30 }}</p>
		{% endfor %}
	</div>

</div>
{% endblock %}